<div class="panel panel-success">
  <div class="panel-heading"><i class="fa fa-fw fa-tags"></i> Step 2: Select Tags</div>
  <div class="panel-body">
    <i class="fa fa-fw fa-spin fa-cog"></i>
    <span class="text-muted">Loading data sources...</span>
  </div>
</div>
