<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Intelligent Plant App Store" value="https://appstore.intelligentplant.com/NuGet/nuget" />
  </packageSources>
  <disabledPackageSources />
</configuration>